:root {
    --inset-top: env(safe-area-inset-top);
    --inset-bottom: env(safe-area-inset-bottom);

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.v-main {
    overflow-x: hidden !important;
    height: 100vh !important;
}

.v-app-bar {
    padding-top: var(--inset-top) !important;
}

.v-snackbar {
    margin-top: calc(20px + var(--inset-top)) !important;
}

/* 暂时允许长按复制 */
.restore-user-select {
    -webkit-touch-callout: none !important;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}