:root {
    --inset-top: env(safe-area-inset-top);
    --inset-bottom: env(safe-area-inset-bottom);

    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    overflow-y: auto;
}

#app {
    width: 100%;
    overflow-x: hidden;
}

.v-navigation-drawer,
.v-overlay__content>.v-card {
    padding-top: var(--inset-top) !important;
    padding-bottom: var(--inset-bottom) !important;
}

.v-app-bar:not(.v-app-bar--bottom) {
    padding-top: var(--inset-top) !important;
}

.v-app-bar--bottom {
    padding-bottom: var(--inset-bottom) !important;
}